# Entornos virtuales
venv/
DeepDetection-env/

# IDEs
.idea/
.vscode/

# Resultados y archivos temporales
results/
proves/

# Archivos generados por Qt Designer
*.ui
*.qrc
*.so

# Archivos requirements auxiliares
requirements_*.txt
!requirements.txt
requirements_dev.txt

# Archivo readme.txt en la carpeta raíz
readme.txt

# Archivos .dat en la carpeta raíz
/*.dat

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos del sistema
.DS_Store
Thumbs.db

# Log files in folder log
log/*.log

# Tests (solo desarrollo local)
/tests/
